@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.countdown{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:25px;
}

.countdown .progression{
  position: relative;
  width: 100%;
  height: 25px;
  background-color: transparent;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid white;
}

.countdown .progression .progression-bar{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  background: linear-gradient(to right , #ff105f, #ffad06);
  transition: 1s linear;
}

.countdown .progression .progression-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.q-wrapper .question-number{
  color: #ddd;
  font-size: 16px;
}

.q-wrapper .question-number .total-questions{
  color:#ccc;
}

.q-wrapper .question-text{
  color: #ddd;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

.q-wrapper .option-container .answeroptions {
  cursor: pointer;
  width: 100%;
  height: 70px;
  padding: 15px;
  border-radius: 5px;
  color: #ddd;
  border: 5px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  transition: 0.5s linear;
}

.answeroptions .text-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ddd;
  transition: all 0.25s;
  justify-content: center;
}

.answeroptions:hover .text-box {
  background-color: #ff105f;
  border-color: #ff105f;
}

.answeroptions .text-box .checkmark{
  opacity: 0;
}
 .selected .text-box {
  background-color: #ff105f;
  border-color: #ff105f;
}

.selected .text-box .checkmark{
  opacity: 1;
}



.answeroptions:hover .text-box .checkmark{
  opacity: 1;
  color: black;
}

.q-wrapper .option-container{
  margin-bottom: 40px;
}

.next-q{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: #ccc;
  border-radius: 5px ;
  cursor: pointer;
  display: none;
}

.submit-q{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius:5px ;
  background: #ccc;
  cursor: pointer;

}